<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FrameworkDemo"  preserve-order="true" parallel="classes" thread-count="4">
    <groups>
        <run>
            
        </run>
        
    </groups>
    <listeners>
		<listener class-name="com.pack.listners.ListenerClass" />
		<listener class-name="com.pack.listners.ExtentReporterNG" />
	<!-- 	<listener class-name="com.pack.listners.TestListener" /> -->
		
	</listeners>
    <parameter name="appURL" value="https://www.google.co.in/"/>
<parameter name="browserType" value="firefox"/>
  <test name="GoTest">
    <classes>
         
         <class name="com.pack.test.CreateAnAccounTest"/>
         <class name="com.pack.test.SignInPageTest"/>
      <class name="com.pack.test.BasePageTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- FrameworkDemo -->
